@import url("https://fonts.googleapis.com/css?family=Grape+Nuts");
@import url("https://fonts.googleapis.com/css?family=Farsan");

$darker: #00008b;
$lighter: rgba(
  $color: #ffffff,
  $alpha: 0.5,
);
$radius: 50px;

body {
  text-align: center;
  color: $darker;
  background-color: #b4e6f9;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  h1 {
    font-family: "Grape Nuts", "Arial";
    font-size: 3rem;
    background-color: $lighter;
    width: 500px;
    border-radius: $radius;
  }
}

.toDo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  input {
    padding-left: 1.5rem;
    width: 400px;
    height: fit-content;
    font-size: 2rem;
    font-family: "Farsan", "Arial";
    border: 5px solid $darker;
    border-radius: $radius;
  }
  button {
    font-family: "Grape Nuts", "Arial";
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5rem;
    background-color: $darker;
    padding: 1rem;
    color: white;
    text-align: center;
    border-radius: $radius;
    border: 2px solid $darker;
    &:hover {
      background-color: $lighter;
      color: $darker;
      border: 2px solid white;
    }
  }
}

.taskList {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $lighter;
  border-radius: $radius;
  margin: 2rem 10rem;
  row-gap: 50px;
  font-family: "Farsan", "Arial";
  div {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
    align-items: center;
    img {
      padding: 10px;
      width: 36px;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    input {
      cursor: pointer;
      margin-left: 2rem;
      width: 30px;
      height: 30px;
    }
  }
}
